<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="hotDeployDAO" class="com.yxt.business.dal.hotdeploy.HotDeployDAL" scope="prototype">
		<!-- 查询网关配置的黑白名单 -->
	 	<property name="selectUserSQL">
			<bean class="com.lxt2.common.common.model.SimpleSQL">
				<property name="sqlType">
					<value type="com.lxt2.common.common.model.SQLType">SQL</value>
				</property>
				<property name="theSQL"
					value="select * from tl_user where rownum &lt; 2"></property>
			</bean>
		</property>
	</bean>
</beans>
